<ion-header>
    <ion-toolbar>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>
                <h2>Daniel</h2>
                <h3>Look, kid...</h3>
                <p>Listen, I've had a pretty messed up day...</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="center" horizontal="center" slot="fixed">
        <ion-fab-button (click)="scanQR()">
            <ion-icon name="qr-scanner"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>