<ion-header>
    <ion-toolbar>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-icon name="logo-ionic" slot="start"></ion-icon>
            <ion-label>
                <h2>Daniel</h2>
                <h3>I'm a super man</h3>
                <p>Listen, I've had a pretty messed up day...</p>
            </ion-label>
        </ion-item>
        <ion-fab vertical="center" horizontal="end" slot="fixed">
            <ion-fab-button (click)="scanQR()">
                <ion-icon name="person"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-list>
</ion-content>