<ion-header>
    <ion-toolbar>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-img src="/assets/icon/favicon.png"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>Daniel</h2>
                <h3>I'm a super man</h3>
                <p>Listen, I've had a pretty messed up day...</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>