<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="skip-backward"></ion-back-button>
    </ion-buttons>
    <ion-title>News detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card (click)="onBack()">
    <ion-card-header>
      <ion-card-subtitle>Source: {{article?.source.name}}
        <br/>Time: {{article?.publishedAt}}</ion-card-subtitle>
      <ion-card-title>{{article?.title}}</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-img [src]="article?.urlToImage"></ion-img>
    </ion-item>
    <ion-card-content>
      {{article?.content}}
    </ion-card-content>
    <br/>
  </ion-card>
</ion-content>