<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>News detail</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card (click)="onBack()">
    <ion-card-header>
      <ion-card-subtitle>Source: {{newsService.currentArticle?.source.name}}
        <br/>Time: {{newsService.currentArticle?.publishedAt}}</ion-card-subtitle>
      <ion-card-title>{{newsService.currentArticle?.title}}</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-img [src]="newsService.currentArticle?.urlToImage"></ion-img>
    </ion-item>
    <ion-card-content>
      {{newsService.currentArticle?.content}}
    </ion-card-content>
    <br/>
  </ion-card>
</ion-content>