<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide *ngFor="let article of data?.articles" (click)="onGotoNewsDetail(article)">
      <!-- <ion-card *ngFor="let article of data?.articles" (click)="onGotoNewsDetail(article)"> -->
      <ion-card-content>
        <p>
          <ion-img [src]="article.urlToImage"></ion-img>
        </p>
        <ion-card-title>{{article.title}}</ion-card-title>
        <hr/>
        <p>{{article.content}}</p>
        <p></p><p></p><p></p>
      </ion-card-content>
      <!-- </ion-card> -->
    </ion-slide>
  </ion-slides>


</ion-content>