<ion-header>
  <ion-toolbar>
    <ion-title>English News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide *ngFor="let article of data?.articles" (click)="onGotoNewsDetail(article)">
      <ion-card-content>
        <p>
          <ion-img [src]="article.urlToImage"></ion-img>
        </p>
        <ion-card-title>{{article.title}}</ion-card-title>
        <hr/>
        <p>{{article.content}}</p>
      </ion-card-content>
      <p></p>
      <hr/>
    </ion-slide>
  </ion-slides>
</ion-content>